// FONT-WEIGHTS
$fontRubik: 'Rubik', sans-serif;
$wRubik300: 300;
$wRubik400: 400;
$wRubik500: 500;

//FONT SIZE (card titles e.g. Work, Play)
$cardTitles: 1.125rem;

//COLORS 

$hover: hsl(236, 41%, 34%);

//### Primary

$Blue: hsl(246, 80%, 60%);
//WORK
$lightRedWork: hsl(15, 100%, 70%);
//PLAY
$Softblue: hsl(195, 74%, 62%);
//STUDY
$lightRedStudy: hsl(348, 100%, 68%);
//EXCERCISE
$Limegreen: hsl(145, 58%, 55%);
//SOCIAL
$Violet: hsl(264, 64%, 52%);
//SELF CARE
$Softorange: hsl(43, 84%, 65%);

//### Neutral

$Verydarkblue: hsl(226, 43%, 10%);
$Darkblue: hsl(235, 46%, 20%);
$Desaturatedblue: hsl(235, 45%, 61%);
$PaleBlue: hsl(236, 100%, 87%);
$White: hsl(0, 0%, 100%);